/* You can add global styles to this file, and also import other style files */
.p-dropdown, .p-calendar {
  min-width: 25rem;
}

.p-dialog-header {
  background-color: rgb(240, 245, 252);
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 14px;
  }
 }

@media only screen and (max-width: 495px) {
  html {
    font-size: 12px;
  }
 }

 @media only screen and (max-width: 425px) {
  html {
    font-size: 10px;
  }
 }
 